:root {
  /* GRAYS
  ---------------------------------------------------------*/
  --gray-200: #242121;
  --gray-300: #333;
  --gray-600: #666;
  --gray-900: #999;
  --gray-1000: #bbb;
  --gray-1010: #d7d7d7;
  --gray-1020: #eee;
}
